<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="../Css/style.css">
</head>
<body>
<div class="container">
	<div class="navbar">
		<nav>
			<ul>
				<li><a th:href="@{/index}">Home</a></li>
				<li><a th:href="@{/emp/login}">Employee</a></li>
				<li><a th:href="@{/promng/login}">Project Manager</a></li>
				<li><a th:href="@{/admin/login}">Admin</a></li>
			</ul>
		</nav>
	</div>
	<div class="home-title">
	
	<h1>Employee Management System</h1>
	
            <p>
                The Employee Management System (EMS) is designed to streamline and automate the processes of managing employee data within an organization. Our system offers a comprehensive suite of tools to help you manage your workforce efficiently and effectively.
            </p>
	
	</div>
	

</body>
</html>